autopep8
certifi
chardet
click
entrypoints
flake8
Flask
Flask-Session
Flask-WTF
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
mccabe
psycopg2
pycodestyle
pyflakes
requests
rope
SQLAlchemy
sqlparse
termcolor
urllib3
Werkzeug
WTForms