<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='Navbar.css')}}"
    />
  </head>
  <body>
    <nav>
      <a href="/" class="appName">Expense Tracker</a>
      <div class="rightNav">
        <span><a href="/aboutus" class="landingLink"> About Us</a></span>
        <span><a href="/contactus" class="landingLink"> Contact Us</a></span>
        <span><a href="/signin" class="landingLink">Sign In</a> </span>
        <span><a href="/signup" class="landingLink">Sign Up</a></span>
      </div>
    </nav>
  </body>
</html>