<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/landingPage.css')}}"
    />
    <title>Expense Tracker Landing Page</title>
  </head>
  <body>
    <nav>
      <div class="appName">Expense Tracker</div>
      <div class="rightNav">
        <span><a href="/aboutus" class=""> About Us</a></span>
        <span><a href="/contactus" class=""> Contact Us</a></span>
        <span><a href="/signin" class="">Sign In</a> </span>
        <span><a href="/signup" class="">Sign Up</a></span>
      </div>
    </nav>
    <p>The Expense Tracker for your needs</p>
    <p>Track all your expenses here...</p>
    <div><a href="/home" class="">Get Started -> </a></div>
  </body>
</html>
